#content {
    gap: 16px;
    min-height: 100%;
}

#edit-button {
    position: fixed;
    top: 16px;
    right: 16px;
    text-decoration: none;
}

#chat-button {
    position: fixed;
    top: 56px;
    right: 16px;
    text-decoration: none;
}